
/apoio
/backup
/files
/fonts
/help
/images/otimiza
/lib
/licenses
/menu.app
/panels
/tools
/web

*.bkp.ignore
*.connect.ini

*.exe
*.jar
*.ini

/options/otm_suite.myo
/options/OTM_COMERCIAL.MYO
/options/OTM_FINANCEIRO.MYO
/options/OTM_SUPRIMENTOS.MYO
/options/OTM_CADASTRO.MYO
/options/OTM_ITENS_DESC.MYO
/options/OTM_FATURAMENTO.MYO
/options/OTM_MANUFATURA1.MYO
/options/OTM_REPRESENTANTE.MYO
/options/OTM_PLANEJAMENTO.MYO
/options/OTM_WMS.MYO

/queries/cli/Comercial
/queries/cli/Faturamento
/queries/cli/Financeiro
/queries/cli/Item_desc
/queries/cli/Manufatura
/queries/cli/Planejamento
/queries/cli/Produtos
/queries/cli/Representantes
/queries/cli/Suprimentos
/queries/cli/WMS
/queries/cli/Desenvolvimento/Backups

/queries/includes
/queries/modelos
/queries/otm_prod
/queries/system

*.ignore

readme-1.md